<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/style.css">

    <title>Change Profile Picture</title>
</head>
<body>
    
    <div class="changeppDiv">
        <span class="whiteText mabot">For now, adding pictures from your computer is not allowed.</span>
        <span class="whiteText mabot">URL of the Picture:</span>
        <input type="text " id="inputpp" class="whiteText mabot">
        <img id="inputPicture" class="whiteText">
        <button id="changepp" class="matop">Change</button>
    </div>

    <script src="/js/changepp.js"></script>
</body>
</html>