<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
     integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css">

    <title>Mini Media</title>
</head>
<body>
    
    <div id="mainHomeDiv">
        <h1 class="whiteText middleh">Welcome to Mini-Media</h1>
        <div><h1 class="whiteText middle">{{name}}</h1></div>
            

        <label class="whiteText">New Post</label>
        <textarea type="textArea" class="form-control" id="postText"  placeholder="..."></textarea>
        <button class="btn btn-warning form-control" id="postButton">Post</button>

        <ul id="ulList" class=""></ul>

    </div>


    <script src="/js/home.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
</body>
</html>