
body {

    background-color: #111;

}

.mainLoginDiv {

    background-color: #444;
    width: 500px;
    margin: 100px auto;
    padding: 50px;

}

.mainSignDiv {

    background-color: #444;
    width: 500px;
    margin: 100px auto;
    padding: 50px;

}

.whiteText {

    color: #CCC;

}

.patop {

    padding-top: 25px;

}

.mabot {

    margin-bottom: 25px;

}
.mabot {

    margin-top: 25px;

}

#mainHomeDiv {

    width: 600px;
    margin: 0 auto;

}

#postButton {

    margin-bottom: 40px;

}

#ulList {
    padding: 20px;
    background-color: darkkhaki;

}

.usernameList {

    list-style-type: none;

}

.postList {

    margin-top: 10px;
    list-style-type: none;
    margin-left: 80px;
}

.inli {

    border: solid red 1px;
    margin-bottom: 40px;
    background-color: darksalmon;

}

.middle {

    width: 100px;
    margin: auto;

}

.middleh {

    width: 440px;
    margin: auto;

}


.fr {

    float : right;

}

.changeppDiv {

    display: grid;
    width: 300px;
    margin: 100px auto;

}

#inputPicture {

    width:"100px";
    height:"100px";
    margin: auto;
    display: none;

}

.pPicture {

    width:"100px";
    height:"100px";

}


.myAlert {

    background-color: red;
    border-radius: 30px;
    display: none;
    text-align: center;

}


.myLink {

    background-color: cornflowerblue;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    float : right;

}

#load {

    width: 30px;
    height: 30px;
    display: none;

}
